*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(217, 54%, 11%);
    
}

.container{
    background-color: hsl(216, 50%, 16%);
    width: 23vw;
    height: 87vh;
    margin: 50px auto;
    border-radius: 17px;
    padding: 20px;
    font-family: 'Outfit', sans-serif;
    
}

.container .img-wrapper{
    height: 290px;
    margin: auto;
    
}

.container .img-wrapper img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    
}
.container .img-wrapper img:hover{
    transform:scale(0.9);
    transition: all 0.6s;
    cursor: pointer;
}
.content h1{
    font-size: 22px;
    line-height: 40px;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
}
.content p{
    font-size: 18px;
    text-align: left;
    color: hsl(215, 51%, 70%);
}

.value{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    
}

.data{
    display: flex;
    color: hsl(215, 51%, 70%);
    
}
.data img{
    margin-right: 5px;
}
.data:nth-child(1){
    font-weight: 700;
    color:hsl(178, 100%, 50%);
}


hr{
    background-color: hsl(215, 32%, 27%); height: 0.5px; border: 0; 
}

.icons{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.icons img{
    height: 40px;
    width: 40px;
    border:0.5px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

.icons p{
    color: hsl(215, 51%, 70%);
}

.icons a{
    text-decoration: none;
    color:hsl(0, 0%, 100%);
}

@media (max-width: 320px){
    
    .container{
        margin:10px auto;
        width: 90vw;
        height: 92vh;
    }
}
@media (min-width: 375px) and (max-width: 450px){
    .container{
        margin:10px auto;
        width: 90vw;
        height: 80vh;
    }
}
